<!--<app-diretiva-switch></app-diretiva-switch>
<div class="container-fluid">-->
  <!--<div class="row">
    <div class="col-md-12">
      <app-diretiva-ngif></app-diretiva-ngif>
    </div>
  </div>-->
  <!--<div class="row">
    <div class="col-md-12">
      <app-diretiva-ng-for></app-diretiva-ng-for>
    </div>
  </div>-->
  <!--<div class="row">
    <div class="col-md-12">
      <app-diretiva-ng-class></app-diretiva-ng-class>
    </div>
  </div>-->
  <!--<div class="row">
    <div class="col-md-12">
      <app-diretiva-ng-style></app-diretiva-ng-style>
    </div>
  </div>-->
  <!--<div class="row">
    <div class="col-md-12">
      <app-operador-elvis></app-operador-elvis>
    </div>
  </div>-->  
<!--</div>-->
<!--<app-exemplo-ng-content>
  Conteudo da minha pagina.
  <app-operador-elvis></app-operador-elvis>
</app-exemplo-ng-content>-->
<!--<app-exemplo-ng-content>
  <div class="titulo">Titulo Painel</div>
  <div class="corpo">Blablablabla</div>
</app-exemplo-ng-content>-->
<app-diretivas-customizadas></app-diretivas-customizadas>