<h5>*ngIf</h5>
<div *ngIf="mostrarCursos">
    Lista de Cursos
</div>
<div *ngIf="!mostrarCursos">
    Não existem cursos para serem listados
</div>
<h5>Hidden melhor performance</h5>
<div [hidden]="!mostrarCursos">
    Lista de Cursos
</div>
<div [hidden]="mostrarCursos">
    Não existem cursos para serem listados
</div>

<h4>NgIf por baixo dos panos</h4>

<template [ngIf]="!mostrarCursos">
    <div>
        Não existem cursos para serem listados
    </div>
</template>
ou
<div template="ngIf !mostrarCursos">
    Não existem cursos para serem listados    
</div>

<button type="button" (click)="onMostrarCursos()">Mostrar Cursos</button>


