<section class="property-binding">
    <article>
        <h3>Interpolação / Interpolation</h3>
        <p>String renderizada com interpolation {{ url }}</p>
    </article>
    <article>
        <h3>Property Binding</h3>
        <img src="{{ urlImage }}" />
        <img [src]="urlImage" />
        <img bind-src="urlImage" />
    </article>
    <article>
        <h3>Class e Style Binding</h3>
        <div>
            Selecione uma classe:
            <select #classe (change)="0">
                <option value="alert-success">Sucesso</option>
                <option value="alert-info">Info</option>
                <option value="alert-warning">Warning</option>
                <option value="alert-danger">Error</option>
            </select>
            <br><br>
            <div class="alert {{ classe.value }}" role="alert">Colorido de acordo com o valor do combo</div>
            <div class="alert" [class.alert-success]="classe.value == 'alert-success'" role="alert">Sucesso</div>
            <div class="alert" [class.alert-info]="classe.value == 'alert-info'" role="alert">Info</div>
            <div class="alert" [class.alert-warning]="classe.value == 'alert-warning'" role="alert">Warning</div>
            <div class="alert" [class.alert-danger]="classe.value == 'alert-danger'" role="alert">Error</div>

            <div class="alert alert-danger" role="alert" [style.display]="classe.value == 'alert-danger' ? 'block' : 'none'">
                Esse texto só aparece em caso de erro.
            </div>
        </div>
    </article>
</section>
<section>    
    <article>
        <h3>Event Binding</h3>
        <div>
            <button type="button" (click)="onClick()">Clique-me!</button>
            <br><br>
            <input type="text" 
                (keyup)="onKeyUp($event)" 
                (keyup.enter)="onSave($event.target.value)"
                (blur)="onSave(campo.value)"
                #campo
            >
            <div>Conteudo Atual: {{ conteudoAtual }}</div>
            <div>Conteudo Salvo: {{ conteudoSalvo }}</div>

            <br><br>
            <span
                (mouseover)="onMouseSpan()"
                (mouseout)="onMouseSpan()"
                [style.background-color]="isMouseOver ? 'yellow' : 'white'"
            >
                Passe o mouse sobre mim!
            </span>
            <br><br>
            <span
                (mouseover)="onMouseSpan()"
                (mouseout)="onMouseSpan()"
                [class.highlight]="isMouseOver"
            >
                Passe o mouse sobre mim!
            </span>
        </div>
    </article>    
</section>

<section class="two-way-binding">
    <article>
        <h3>Two-Way data binding</h3>
        <div>
            <input type="text"
                [value]="nome"
                (input)="nome = $event.target.value"
            >

            <input type="text"
                [ngModel]="nome"
                (ngModelChange)="nome = $event"
            >

            <input type="text"
                [ngModel]="nome"
                (ngModelChange)="nome = $event"
            >

            Binding de evento + propriedade
            <input type="text"
                [(ngModel)]="nome"
            >

            <input type="text"
                bindon-ngModel="nome"
            >

            <p>Você Digitou: {{ nome }}</p>
        </div>

        <div>
            Pessoal 
            <br><br>
            Meu nome é {{ pessoa.nome }} e tenho {{ pessoa.idade }} anos.

            Nome:
            <input type="text"
                [(ngModel)]="pessoa.nome"
            >
            Idade:
            <input type="text"
                [(ngModel)]="pessoa.idade"
            >
        </div>
    </article>
</section>
<section>
    <article>
        <h3>Input/Output Componente</h3>
        <curso nome="Angular 2"></curso>
        <curso [nome]="nomeCurso"></curso>
    </article>
</section>